@import "src/styles/mixins/index";

.blog-content {
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid $color-lightscale-0;

  * ~ p {
    margin-bottom: 15px;
  }

  & > div {
    h1 {
      @include font_machine("regular", $size: 22px, $color: $color-grayscale-0);
      margin-top: 60px;
      margin-bottom: 30px;
    }

    h2 {
      @include font_machine("bold", $size: 16px, $color: $color-secondary-1);
      margin-bottom: 15px;
    }

    p {
      @include font_machine("light", $color: $color-grayscale-0);

      &:first-child + p {
        margin-top: 15px;
      }

      & + h2 {
        margin-top: 40px;
      }
    }

    ul {
      list-style: none;
      margin: 15px 50px;

      & > li {
        padding-left: 20px;
        &:before {
          content: "\2022";
          font-size: 30px;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -15px;
          color: $color-secondary-0;
        }
        & > p {
          margin: 0 !important;
        }
      }

      & + p {
        margin-top: 15px;
      }
    }

    ol {
      list-style: none;
      margin: 15px 50px;
      counter-reset: number-counter;

      & > li {
        counter-increment: number-counter;
        padding-left: 20px;

        &:before {
          content: counter(number-counter) ". ";
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -8px;
          color: $color-secondary-0;
        }
        & > p {
          margin: 0 !important;
        }
      }

      & + p {
        margin-top: 15px;
      }
    }

    img {
      @include image__border;
      width: 100%;
      margin: 40px 0;
    }

    blockquote {
      padding: 20px;
      margin: 40px;
      background: $color-lightscale-3;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 5px;
        background: $color-primary-2;
      }

      & > p {
        @include font_machine(300, $style: italic, $color: $color-grayscale-2);

        & + p {
          margin-top: 15px;
        }
      }
    }

    code {
      @include font_machine(
        100,
        $style: italic,
        $size: 12px,
        $color: $color-primary-1
      );
      display: block;
      width: 100%;
      text-align: center;
      padding: 0 20px;
      top: -40px;
    }
  }
}
