@import "src/styles/mixins/index";

.blog-content {
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid $color-lightscale-0;
  margin-bottom: 30px;

  h1 {
    @include font_machine("regular", $size: 22px, $color: $color-grayscale-1);
    margin-bottom: 10px;
  }

  h2 {
    @include font_machine("light", $size: 16px, $color: $color-grayscale-2);
    margin-bottom: 5px;
  }

  p {
    @include font_machine("light", $color: $color-grayscale-0);
    margin-bottom: 30px;

    &:first-child {
      margin-top: 30px;
    }
  }

  ol {
    list-style-type: disc;
    margin-left: 30px;

    & > li {
      & > p {
        margin: 0 !important;
      }
    }
  }

  img {
    width: 100%;
    outline: 1px solid $color-primary-0;
    outline-offset: -20px;
  }
}
