@import "src/styles/mixins/index";

.container {
  width: 100%;
  box-shadow: 0 1px 15px 0 rgba($color-grayscale-1, 0.3);
}

.search {
  display: none;
  width: 100%;
  height: 42px;
  background: $color-lightscale-2;

  @include respond_tablet {
    display: block;
  }
}

.main {
  width: 100%;
  padding-top: 40px;

  @include respond_tablet {
    padding: 0 20px;
    @include make_flex(row, space-between, center);
  }
}

.logo {
  box-sizing: content-box;
  height: 130px;
  background: url("../../img/logo-stacked.png") center no-repeat;
  background-size: auto 100px;

  @include respond_tablet {
    height: 50px;
    background: url("../../img/logo-inline.png") left no-repeat;
    background-size: auto 50px;
    flex: 1;
  }
}

.nav {
  @include make_flex(row, space-evenly, center);
  padding: 30px 10px;

  @include respond_tablet {
    min-width: 400px;
    width: 400px;
  }
}

.link {
  @include font_machine($weight: 400, $size: 14px, $color: $color-grayscale-3);
  display: block;
  text-transform: uppercase;

  &.active {
    color: $color-primary-0;
  }
}
