@import "src/styles/mixins/index";

.post {
  @include make_flex(row, center, center);
  height: 250px;
  width: 100%;
  border-bottom: 1px solid $color-lightscale-2;

  &:first-child {
    border-top: 1px solid $color-lightscale-2;
  }
}

.img {
  width: 120px;
  height: 100%;
  overflow: hidden;

  img {
    height: 100%;
  }

  @include respond-tablet {
    width: 300px;
  }
}

.summary {
  @include make_flex(column, flex-start, flex-start);
  flex: 1;
  padding: 30px 20px;
  height: 100%;

  & > div {
    flex: 1;
    margin: 10px 0 20px 0;
    overflow: hidden;
  }
}
