@import "src/styles/mixins/index";

.blog-features.blog-features {
  display: none;
  padding: 60px 40px;
  width: 400px;
  background: $color-lightscale-3;

  @include respond_tablet_landscape {
    display: none !important;
  }

  @include respond_desktop {
    display: block;
  }
}
