@import "src/styles/mixins/index";

.blog-tag {
  display: inline-block;
  @include font_machine("light", $size: 12px, $color: $color-secondary-0);
  padding: 0 10px;
  text-transform: uppercase;
  background: $color-lightscale-2;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;

  @include respond_tablet {
    font-size: 14px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
  }
}
