@import "src/styles/mixins/index";

.post {
  @include make_flex(row, center, center);
  height: 280px;
  width: 100%;
  border-bottom: 1px solid $color-lightscale-2;

  &:first-child {
    border-top: 1px solid $color-lightscale-2;
  }
}

.img {
  width: 120px;
  height: 100%;
  overflow: hidden;

  img {
    vertical-align: top;
    height: 100%;

    @include respond-tablet {
      height: initial;
      width: 100%;
    }
  }

  @include respond-tablet {
    width: 300px;
  }
}

.summary {
  @include make_flex(column, flex-start, flex-start);
  flex: 1;
  padding: 30px 20px;
  height: 100%;

  @include respond-tablet {
    padding: 30px;
  }

  .date {
    display: none;

    @include respond-tablet {
      display: block;
      @include font_machine(
        "light",
        $size: 12px,
        $color: $color-grayscale-2,
        $family: $font-family-header
      );
      text-transform: uppercase;
      margin-top: 10px;
    }
  }

  & > div {
    flex: 1;
    margin: 10px 0 20px 0;
    overflow: hidden;
  }
}

.quick-links {
  display: none;
  width: 40px;
  height: 100%;

  @include respond-tablet {
    @include make_flex(column, center, space-around);
  }

  .link {
    @include make_flex(row, center, center);
    height: 40px;
    width: 40px;
    color: $color-lightscale-3;

    &.primary {
      background: $color-primary-0;
    }
    &.secondary {
      background: $color-secondary-0;
    }
    &.accent {
      background: $color-accent-0;
    }
    &.grayscale {
      background: $color-grayscale-1;
    }
  }
}
