{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss",
            "plugins": ["postcss-nested"]
          }
        }
      }
    ]
  ]
}
