@import "src/styles/mixins/index";

.h1 {
  @include font_machine(
    "extra-light",
    $size: map-get($typography, h1),
    $color: $color-grayscale-0,
    $family: $font-family-header
  );
}
.h2 {
  @include font_machine(
    "light",
    $size: map-get($typography, h2),
    $color: $color-grayscale-0,
    $family: $font-family-header
  );
}
.h3 {
  @include font_machine(
    "regular",
    $size: map-get($typography, h3),
    $color: $color-grayscale-0,
    $family: $font-family-header
  );
}
.h4 {
  @include font_machine(
    "light",
    $size: map-get($typography, h4),
    $color: $color-grayscale-0,
    $family: $font-family-header
  );
}

.h5 {
  @include font_machine(
    "regular",
    $size: map-get($typography, h5),
    $color: $color-grayscale-0,
    $family: $font-family-header
  );
}

.h6 {
  @include font_machine(
    "light",
    $size: map-get($typography, h6),
    $color: $color-grayscale-0,
    $family: $font-family-header
  );
}

.section {
  @include font_machine(
    $weight: "semi-bold",
    $size: 14px,
    $color: $color-grayscale-0
  );
  text-transform: uppercase;
}

.grouping {
  @include font_machine($weight: "heavy", $color: $color-grayscale-3);
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.title {
  @include font_machine(
    $weight: "extra-light",
    $color: $color-primary-0,
    $size: map-get($map: $typography, $key: h3)
  );
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    margin-left: #{calc((20% / 2) * -1)};
    left: 50%;
    height: 1px;
    background: $color-primary-0;
    bottom: 0;
  }
}

.default,
.grayscale-0 {
  color: $color-grayscale-0 !important;
}
.grayscale-1 {
  color: $color-grayscale-1 !important;
}
.grayscale-2 {
  color: $color-grayscale-2 !important;
}
.grayscale-3 {
  color: $color-grayscale-3 !important;
}
.light {
  color: $color-lightscale !important;
}
