@import "src/styles/scss/index";

.nav {
  @include make_flex(row, space-evenly, center);
  padding: 30px 10px;
  widows: 100%;

  @include respond_tablet {
    @include make_flex(row, flex-end, center);
  }
}

.link {
  @include respond_tablet {
    &:not(:last-child) {
      padding-right: 30px;
    }
  }

  & > a {
    @include font_machine(
      $weight: 400,
      $size: 14px,
      $color: $color-grayscale-3
    );
    display: block;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out;

    &.active {
      color: $color-primary-0;
    }
  }
}
