@import "src/styles/mixins/index";

.blog.blog {
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;

  @include respond_tablet {
    padding: 60px 100px;
    overflow-y: auto;
    max-width: initial;
  }
}
