@import "src/styles/mixins/index";

.hero-img {
  width: 100%;

  img {
    @include image__border;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
    object-position: 0 50%;
  }
}
