@import "src/styles/scss/index";

.lg {
  @include font_machine(
    $weight: "extra-light",
    $color: $color-primary-0,
    $size: map-get($map: $typography, $key: h3)
  );
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    margin-left: #{calc((20% / 2) * -1)};
    left: 50%;
    height: 1px;
    background: $color-primary-0;
    bottom: 0;
  }
}

.md {
  @extend .lg;
  @include font_machine(regular, $color: $color-grayscale-0, $size: 14px);
  padding: 20px 50px 10px 50px;
  margin-bottom: 10px;

  &::after {
    background: $color-grayscale-0;
    margin-left: #{calc((10% / 2) * -1)};
    width: 10%;
  }
}

.sm {
  @extend .md;
  @include font_machine(regular, $color: $color-secondary-0, $size: 10px);
  padding: 20px 20px 10px 20px;
  margin-bottom: 20px;

  &::after {
    background: $color-secondary-0;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 1px;
    background: $color-lightscale-0;
  }
}
