@import "src/styles/mixins/index";

.hero {
  overflow: hidden;
  max-height: 360px;

  @include respond_desktop {
    height: 500px;
  }

  @include respond_tablet_landscape {
    max-height: initial;
    height: initial;
    max-width: 480px;
    min-width: 400px;
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;

    @include respond_tablet_landscape {
      width: auto;
      height: 100%;
    }
  }
}
