@import "src/styles/mixins/index";

.hero {
  margin-bottom: 30px;
  overflow: hidden;
  max-height: 360px;

  @include respond_desktop {
    height: 500px;
  }

  @include respond_tablet_landscape {
    max-height: 100%;
    height: 100%;
    width: 480px;
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}
