@import "src/styles/mixins/index";
@import "src/styles/base/index";
@import "~bulma/sass/utilities/initial-variables";

.main {
  @include make_flex(column, flex-start, flex-start);
  height: 100%;
  width: 100%;

  & > .content {
    display: block;
    margin: 0 auto;

    & > * {
      max-width: map-get($map: $breakpoints, $key: md);
    }
  }
}

body,
html {
  height: 100%;
  width: 100%;

  & > div {
    height: 100%;
    width: 100%;
    // overflow: hidden;
  }
}
