@mixin button_base{
  @include font_machine(
    'light',
    $size: $button-font-size
  );
  @include transition_button_hover(0.15s, ease-in-out);
  border-radius: $button-border-radius;
  min-width: $button-min-width;
  padding: $button-padding;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  @content;
  &:not(:disabled){
    box-shadow: 0 2px 4px 0 rgba($color-grayscale-1, 0.50);
  }
}

/********************** States ********************/
@mixin button__disabled{
  &:disabled{
    cursor: default;
    background-color: $color-grayscale-3;
    border-color: $color-grayscale-3;
    color: $color-grayscale-2;
    @content;
  }
}

@mixin button__hover-active{
  &:not(:disabled){
    &:hover,
    &:active,
    &:focus{
      @include transition_button_hover(0.15s, ease-in-out);
      @content;
    }
  }

  &:active{
    box-shadow: none;
  }
}

/********************** Compositions ********************/
@mixin make_button_primary{
  @include button_base{
    background: $color-accent-1;
    border: 1px solid $color-accent-1;
    color: $color-lightscale-3;
  }
  @include button__disabled;
  @include button__hover-active{
    background: $color-accent-0;
    border: 1px solid $color-accent-0;
    color: $color-white;
  }
}

@mixin make_button_secondary{
  @include button_base{
    background: transparent;
    border: 1px solid $color-grayscale-1;
    color: $color-grayscale-1;
  }
  @include button__disabled;
  @include button__hover-active{
    background: $color-lightscale-2;
    border: 1px solid $color-grayscale-0;
    color: $color-grayscale-0;
  }
}
