@mixin make_link{
  @include font_machine(light, $color: $color-primary-1);
  font-size: 16px;
  margin-top: 20px;
  border: none;
  background: none;
}

@mixin make_mini_link{
  @include font_machine('heavy', $color: $color-primary-1);
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 16px;
  border: none;
  background: none;
}