@mixin breakpoint($name, $breakpoints: $breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@function breakpoint-min($name, $breakpoints: $breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin respond_phone {
  @include breakpoint(sm) {
    @content;
  }
}

@mixin respond_tablet {
  @include breakpoint(md) {
    @content;
  }
}
