*{
  box-sizing: border-box;
  position: relative;

  &::after,
  &::before{
    box-sizing: border-box;
    font-size: inherit;
  }
}

html, body{
  font-family: $font-family;
  height: 100%;
  width: 100%;
}

body{ 
  & > section{
    height: 100%;
    width: 100%;

    & > div{
      height: 100%;
      width: 100%;
    }
  }
}

[data-reactroot]{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4{
  margin: 0;
}

:global {
  .amplify-container{
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    background: none;
  }
}


