@import "src/styles/mixins/index";

// resets
@mixin input-reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

// Layouts
@mixin input-control {
  display: block;
}

/********************\
|****** STATES ******|
\********************/
@mixin input-placeholder($color: $color-grayscale-3) {
  &::placeholder {
    color: $color;
  }
  &:placeholder-shown {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

/********************\
|****** LABELS ******|
\********************/
@mixin input-label {
  @include font-machine(semi-bold, $size: 12px, $color: $color-secondary-0);
  display: block;
  margin-bottom: 4px;
}
@mixin input-label--invalid {
  color: $color-invalid-0;
}

/********************\
|****** ERROR ******|
\********************/
@mixin input-error {
  @include font-machine(light, $size: 12px, $color: $color-invalid-0);
  margin-top: 4px;
  display: block;
}

/******************\
|****** BASE ******|
\******************/
@mixin input-base($background) {
  @include input-reset;
  @include font-machine(light, $size: 16px, $color: $color-secondary-1);
  @include input-placeholder;
  padding: 14px 20px 16px 20px;
  background: $background;
  border-radius: 2px;
  transition: border 0.15s ease-in-out;
  border: 1px solid transparent;
}
@mixin input-base--invalid {
  @include input-placeholder($color: $color-invalid-0);
  border: 1px solid $color-invalid-0;
}
@mixin input-base--focus {
  &:focus {
    outline: none;
    border: 1px solid $color-secondary-2;
  }
}

/********************************\
|****** INPUT[type="text"] ******|
\********************************/
$color-input--primary--background: $color-lightscale-3;
$color-input--secondary--background: #fff;

// Primary
@mixin input-text--primary {
  @include input-base($background: $color-input--primary--background);
}
@mixin input-text--primary--invalid {
  @include input-base--invalid;
}
@mixin input-text--primary--focus {
  @include input-base--focus;
}

// Secondary
@mixin input-text--secondary {
  @include input-base($color-input--secondary--background);
}
@mixin input-text--secondary--invalid {
  @include input-base--invalid;
}
@mixin input-text--secondary--focus {
  @include input-base--focus;
}
