// resets
@mixin reset-input__base {
  margin: 0;
  padding: 0;
  border: 0;
}

// Layouts
@mixin create-input__control {
  display: block;
}

@mixin create-input__container {
  display: block;
}

// Creation Mixins
@mixin create-input__base {
  @include reset-input__base;
}

@mixin create-input__states {
}

// Component Mixins
@mixin input-control {
}
@mixin input-container {
}
@mixin input-label {
}

@mixin input-error {
}

@mixin input-text {
  @include create-input__base;
}
